.logInForm, .signUpForm {
    border: solid black 5px;
    width: 50%;
    border-radius: 15px;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background:
  lightblue url("../images/bridge.jpg") no-repeat center;
  background-size: cover;
}

.logIn, .signUp, .home, .notFound, .posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: calc(100vh - 130.88px - 46px);
  overflow-y: auto;
}




