.logo {
    background-color: white;
    border: solid black 5px;
    border-radius: 15px;
    padding: 5px;
}

.logo a {
    text-decoration: none;
    color:black;
}

.header {
    border-bottom: solid black 5px;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 99, 71, 0.75);
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 0.5;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

nav li {
    list-style: none;
}

li a {
    text-decoration: none;
    font-size: 1.5em;
    padding: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

li a:visited {
    color: black;
}

li a:hover {
    background-color: whitesmoke;
}

.active {
    background-color: whitesmoke;
}