.logo {
    background-color: white;
    border: solid black 5px;
    border-radius: 15px;
    padding: 5px;
}

.header {
    border: solid black 5px;
    border-radius: 15px;
    margin: 10px 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

button {
    height: 50%;
    align-self: center;
}

nav {
    display: flex;
}
