.logo {
    background-color: white;
    border: solid black 5px;
    border-radius: 15px;
    padding: 5px;
}

.header {
    border: solid black 5px;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 99, 71, 0.75);
}

button {
    height: 50%;
    align-self: center;
}

nav {
    display: flex;
}
